
.process {
   width: 100%;
   @include mixins.sectionPaddings;
   background: url('/img/process/process_bg.png') no-repeat top / cover;
   @include mixins.vertical-flex();
   justify-content: start;
   gap: max(60px, 12rem);
}


// 공통 title_box
.title_box {
   margin-bottom: max(40px, 6rem);
}

@media (min-width: 500px) and (max-width: 992px) {
   .process .wrapper {
      max-width: 90%;
   }
}


// 창업비용
.cost_area .itemBox {
   @include mixins.vertical-flex;
   justify-content: start;
   gap: max(30px, 4rem);
   max-width: 1000px;
   margin: 0 auto;
}

.cost_area .itemBox .toggle_box {
   width: 100%;
   @include mixins.vertical-flex();
   align-items: start;
   background: #fff;
   border-radius: 15px;
   overflow: hidden;
   box-shadow: 0 8px 10px 5px rgba(0,0,0,0.1);
   gap: 20px;

   .box_header {
      border-radius: inherit;
      padding: max(13px, 1.6rem) 10px;
      background: linear-gradient(#D82A38, #B71926);
      text-align: center;
      width: 100%;

      h5 {
         font-size: var(--fontSize35);
         color: #fff;
         line-height: 1.2;
         font-weight: 800;
      }
   }

   .content {
      width: 100%;
      @include mixins.vertical-flex();
      gap: max(10px, 1.5rem);
      text-align: center;
      padding: 0 10px max(25px, 3.5rem);

      p.txt1 {
         color: #000;
         font-size: var(--fontSize30);
         font-weight: 800;
      }

      p.txt2 {
         color: #434343;
         font-size: var(--fontSize20);
         font-weight: 500;
         line-height: 1.3;
      }
   }
}

// 패키지 박스
.cost_area .itemBox .package_box {
   gap: max(25px, 4.5rem);

   .box_header {
      width: 100%;
      @include mixins.vertical-flex();
      gap: 10px;
      padding: max(15px, 2.2rem) 10px;
      color: #fff;
      font-weight: 800;
      line-height: 1.2;

      h5 {
         font-size: var(--fontSize35);
      }

      span {
         font-size: var(--fontSize20);
      }
   }
}

// 패키지 내부 내용
.cost_area .itemBox .package_box .content {
   @include mixins.flex-box();
   flex-direction: unset !important;
   justify-content: start;
   gap: max(15px, 2rem);
   width: 100%;
   padding: 0 3.5rem 4.5rem;
}

// 패키지 내부 카드
.package_box .content .unit {
   background: #c33b47;
   border-radius: 10px;
   min-height: 213px;
   padding: 10px;
   @include mixins.vertical-flex();
   gap: 13px;
   box-shadow: 0 4px 10px 0px rgba(0,0,0,0.25);
   flex: 1;

   .icon_img {width: auto; height: max(50px, 9.3rem);}

   > span {
      font-size: var(--fontSize20);
      color: #fff;
   }

   // 자판기 style
   &.kiosk_group {
      flex-direction: unset;
      gap: 15px;
      padding: 20px 10px;
      flex: 2.24;

      .kiosk {
         @include mixins.vertical-flex();
         gap: 13px;

         > span {
            font-size: var(--fontSize20);
            color: #fff;
         }
      }

      // 자판기 세부
      .kisok_item {
         @include mixins.vertical-flex();
         gap: max(13px, 2rem);

         .item_unit {
            @include mixins.vertical-flex();
            gap: 7px;

            > img {
               width: auto;
               height: max(40px, 5rem);
            }
            > span {
               font-size: var(--fontSize16);
               color: #fff;
            }
         }
      }
      
   }
}


// 설치기간, 면적가이드 묶음
.cost_area .itemBox .box_vertical_group {
   @include mixins.flex-box();
   align-items: start;
   gap: 40px;
   width: 100%;
}


@media (max-width: 992px) {
   .cost_area .itemBox {
      flex-direction: column;

      .package_box {
         border-radius: 10px;

         .box_header {
            border-radius: inherit !important;
         }
      }

      .box_vertical_group {
         flex-direction: unset;

         .toggle_box {
            justify-content: start;
            min-height: 185px;
            border-radius: 10px;

            .box_header {
               border-radius: inherit !important;
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .cost_area .itemBox {

      .package_box .content {
         flex-wrap: wrap;

         .unit {
            width: calc(100% / 3 - 11px);
            flex: unset;
            min-height: unset;
            padding: 20px 10px;

            &.kiosk_group {
               width: 100%;
               flex: unset;

               .kisok_item {
                  flex-direction: unset;

                  .item_unit {
                     > img {height: max(50px, 6.3rem);}
                  }
               }
            }
         }
      }

      .box_vertical_group {
         flex-direction: column;

         .toggle_box {
            min-height: auto;
         }
      }
   }
}

@media (max-width: 500px) {
   .cost_area .itemBox .package_box .content .unit {
      padding: 10px;
      width: calc(100% / 2 - 10px);

      &:nth-of-type(3) {
         width: 100%;
      }
   } 
}



// ---------------------------------------------------------------------




// 창업절차 안내
.procedure_area .itemBox {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(265px, auto);
   align-items: start;
   gap: max(20px, 4rem) max(25px, 6rem);
   width: 100%;
   max-width: max(780px, 88.8rem);
   margin: 0 auto;

   .item {
      @include mixins.vertical-flex();
      justify-content: start;
      gap: 25px;
      border: 1px solid var(--main-color);
      position: relative;
      background: #fff;
      border-radius: 20px;
      padding: 30px 10px 10px;
      height: 100%;

      &::before {
         content:'';
         position: absolute;
         top: -4px;
         left: 50%;
         transform: translateX(-50%);
         width: 48.83%;
         height: 8px;
         background: var(--main-color);
         border-radius: 0 0 20px 20px;
      }

      .step_txt {
         border-radius: 100px;
         border: 1px solid #C7C7C7;
         background: #fff;
         padding: 6px 13px;
         color: var(--main-color);
         font-size: 15px;
         font-weight: 700;
         text-transform: uppercase;
      }

      .img_box {
         @include mixins.vertical-flex();
         justify-content: start;
         gap: 15px;

         > img {
            width: auto; 
            height: max(65px, 9.5rem);
         }

         > h5 {
            font-size: 25px;
            color: #000;
            font-weight: 700;
            line-height: 1.2;
            text-align: center;
         }
         
      }
   }
}

.procedure_area > .txt1 {
   text-align: center;
   margin-top: max(30px, 4rem);
   font-size: var(--fontSize20);
   line-height: 1.4;
   color: #fff;
   font-weight: 500;
}

@media (max-width: 992px) {
   .procedure_area .itemBox {
      grid-auto-rows: minmax(200px, auto);

      .item {
         gap: var(--fontSize25);
         padding: var(--fontSize30) 10px 10px;

         .step_txt {
            font-size: var(--fontSize15);
         }

         .img_box {

            > h5 {
               font-size: var(--fontSize25);
            }
            
         }
      }
   }
}

@media (max-width: 768px) {
   .procedure_area .itemBox {
      gap: max(20px, 4rem);
   }
}

@media (max-width: 680px) {
   .procedure_area .itemBox {
      max-width: 500px;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(180px, auto);

      .item {
         gap: var(--fontSize25);
         padding: var(--fontSize30) 10px 10px;

         .step_txt {
            font-size: var(--fontSize15);
         }

         .img_box {

            > h5 {
               font-size: var(--fontSize25);
            }
            
         }
      }
   }
}