
// @use '@/css/mixins' as mx;

@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.footer {
   padding: 60px 0;
   background: #333;
   border-top: 1px solid #d8d8d8;

   .wrapper {
      @include flex-box;
      justify-content: space-between;
      gap: 20px;
      

      .content_box {
         @include vertical-flex;
         align-items: start;
         gap: 20px;
         
         .content_item {
            @include flex-box;
            align-items: start;
            justify-content: start;
            flex-wrap: wrap;
            gap: 5px 20px;
            width: 100%;
            max-width: 690px;

            li {
               font-size: max(12px, 1.4rem);
               color: #ccc;
               line-height: 1.2;

               > b {color: #fff;}
            }
         }

         .copy_item {
            font-size: max(13px, 1.6rem);
            color: #fff;
            line-height: 1.2;
         }
      }


      .tel_box {
         @include vertical-flex;
         align-items: end;
         gap: 10px;
         color: #fff;

         strong {
            font-size: 2.5rem;
         }

         a {
            font-size: 3rem;
            font-weight: 700;
         }
      }
   }
}


@media (max-width: 992px) {
   .footer {
      padding: max(20px, 3rem) 0;

      .wrapper {
         @include vertical-flex;
         align-items: start;
         gap: 4rem;

         .content_box {
            width: 100%;
            order: 2;

            .content_item {
               
            }

            .copy_item {
               text-align: center;
               // align-self: center;
            }
         }

         .tel_box {
            align-items: start;
         }
      }
   }
}


@media (max-width: 500px) {
   .wrapper .content_box .content_item {
      @include vertical-flex;
      flex-wrap: unset;
   }
}