@media all {

  * {
    margin: 0; 
    padding: 0; 
    outline: none; 
    box-sizing: border-box;
  }
  
  html { // 폰트사이즈 지정! rem
    font-size: clamp(5px, calc(100vw * 10 / 1920), 14px);
    // 1920 기준 10px 너비 줄을때마다 폰트사이즈 줄어들고 min은 5, max는 14
  }

  body {
	 line-height: 1; 
   font-weight: 400;
	 color: #000;
	 word-wrap: break-word; 
   word-break: keep-all;
  }

  h1, h2, h3, h4, h5, h6 {
	 margin: 0;
	 line-height: 1; 
   font-size: 1em;
  }

  ul, ol {
    list-style: none; 
    margin: 0; 
    padding: 0;
  }

  a {
	 outline: 0; 
   text-decoration: none; 
   color: inherit;
  }

  a:focus {outline: none;}

  figure, dl, dd, input[type="radio"], 
  input[type="checkbox"] {
    margin: 0; 
    padding: 0;
  }

  img {
    border: none; 
    outline: none; 
    max-width: 100%;
  }

  p {
	 margin: 0; 
   padding: 0;
	 word-wrap: break-word; 
   word-break: keep-all;
  }

  button, input, submit {
    border: none; 
    background: none;
  }

  dt {font-weight: normal;}

  ::placeholder {}
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
	 transition: background-color 5000s ease-in-out 0s;
	 -webkit-transition: background-color 9999s ease-out;
	 box-shadow: none !important;
	 -webkit-text-fill-color: none !important;
  }


  :root {
    --main-color: #D82A38;
  }

  // 필요한 폰트 설정
  .paperLogy {font-family: var(--font-paperlogy) !important;}
  .poppins {font-family: var(--font-poppins) !important;}


  // 기본 레이아웃 너비
  .containerV1 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }


  @media (max-width: 1380px) {
    .containerV1 {
      padding: 0 13px;
    }
  }
}