@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
   // height: 600px;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

@mixin sectionPaddings {
   padding: max(50px, 12rem) 0;
}


.mixintest {width: 100%;}