:root {
   --main-color: #D82A38;
   --header-h: 65px;

   --fontSize60: max(35px, 6rem);
   --fontSize45: max(30px, 4.5rem);
   --fontSize40: max(25px, 4rem);
   --fontSize35: max(20px, 3.5rem);
   --fontSize30: max(18px, 3rem);
   --fontSize25: max(16px, 2.5rem);
   --fontSize20: max(15px, 2rem);
   --fontSize18: max(14px, 1.8rem);
   --fontSize16: max(13px, 1.6rem);
   --fontSize15: max(12px, 1.5rem);
}

html { // 폰트사이즈 지정! rem
   font-size: 10px;
   // 1920 기준 10px 너비 줄을때마다 폰트사이즈 줄어들고 min은 5, max는 14
}

// 기본 레이아웃 너비
.containerV1 {
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
}


@media (max-width: 1480px) {
   .containerV1 {
      padding: 0 13px;
   }

   html { // 폰트사이즈 지정! rem
   font-size: clamp(7px, calc(100vw * 10 / 1480), 10px);
   }
}

@media (max-width: 992px) {
   html { // 폰트사이즈 지정! rem
   // font-size: clamp(7px, calc(100vw * 9 / 992), 10px);
   }

   :root {
   --header-h: 55px;
   }
}

@media (max-width: 768px) {
   html { // 폰트사이즈 지정! rem
   font-size: clamp(6px, calc(100vw * 8 / 768), 10px);
   }
}

@media (max-width: 680px) {
   html { // 폰트사이즈 지정! rem
   font-size: clamp(3px, calc(100vw * 7 / 680), 10px);
   }
}




// deco style

.title_deco {
   padding: 3px 10px;
   line-height: 1;
   background: var(--main-color);
   color: #fff;
}

.title_deco2 {
   position: relative;
   font-weight: inherit;

   span {position: relative; z-index: 2;}

   &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -5%;
      width: 103%;
      height: var(--fontSize20);
      background: var(--main-color);
      z-index: 1;
   }
}

.title_deco_circle {
   padding: 2.1rem 3.2rem;
   border-radius: 50%;
   border: 3px solid var(--main-color);
}


.black_title_header {
   background: #191718;
   width: 100%;
   padding: 6rem 0;
   width: 100%;
}

.black_title_header .black_title {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   color: #fff;
   text-align: center;

   span {
      font-size: var(--fontSize35);
      font-weight: 500;
   }

   h2 {
      font-size: var(--fontSize60);
      font-weight: 700;
      line-height: 1.2;
   }
}


.normal_title_header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   text-align: center;

   .title_deco_circle {
      padding: 3px 14px;
      border-radius: 100px;
      background: var(--main-color);
      color: #fff;
      font-size: var(--fontSize25);
   }

   h2 {
      font-size: var(--fontSize60);
      font-weight: 700;
      color: #000000;
      line-height: 1.3;
   }
}

.text_route {color: #fff; font-size: 20px;}

// date-picker custom

@media (max-width: 768px) {
   .react-datepicker__portal {
      width: 100% !important;
   } 
}

.react-datepicker {
  font-size: 14px !important; /* 원하는 크기로 조절 */
  font-family: var(--font-pretendard), sans-serif !important;
  border-radius: 10px !important;
  overflow: hidden;
  border: none !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

// 캘린더 wrapper 
.calenderWrapper, .monthWrapper {
   width: 400px;
}

@media (max-width: 500px) {
   .calenderWrapper, .monthWrapper {
      width: 90%;
   }
}

// 캘린더 헤더
.react-datepicker__header {
   padding: 10px 0 !important;
   background: crimson !important;
}
// 캘린더 헤더 텍스트
.react-datepicker__current-month, 
.react-datepicker-time__header, 
.react-datepicker-year-header {
   font-size: 1.2em !important;
   color: #fff !important;
}

// 헤더 상단 세모 svg
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
   fill: crimson !important;
   color: crimson !important;
}

// 헤더 양옆 next. prev 버튼
.react-datepicker__navigation-icon:before {
   border-color: #fff !important;
   transition: all 0.1s;
}
// 헤더 양옆 next. prev 버튼 hover
.react-datepicker__navigation-icon:hover:before {
   border-color: #222 !important;
}

// 캘린더 달력 몸통
.react-datepicker__month-container {
   width: 100%;
}

.react-datepicker__month {
   margin: .5em 0 !important;
} 

.react-datepicker__day-names, .react-datepicker__week {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   justify-items: center;
}

/* 선택된 날짜 배경색 직접 바꾸기 */
.react-datepicker__day--selected,
.react-datepicker__day--selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--selected:not([aria-disabled="true"]):hover {
  background-color: var(--main-color) !important;
  border-radius: 3px !important;
}

// 년,월만 표시할때
.react-datepicker__month-wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: minmax(50px, auto);
   justify-items: center;
   align-items: center;
   width: fit-content;
   margin: 0 auto;
}

.react-datepicker__month-text {
   width: 90%; height: 90%;
   display: inline-flex !important;
   align-items: center;
   justify-content: center;
   background: #e6e6e6;
   border-radius: 5px !important;
   font-weight: 500;
   color: #434343;
}