@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.confirmModal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100dvh;
   // background: rgba(0,0,0,0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100000;
}

.modal_body {
   background: rgba(255,255,255,0.9);
   --webkit-backdrop-filter: blur(4px);
   backdrop-filter: blur(4px);
   padding: 0 0 20px;
   border-radius: 10px;
   color: #000;
   box-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);

   width: 100%;
   max-width: 380px;
   min-height: 120px;
   overflow: hidden;
   text-align: center;

   .modal_header {
      @include flex-box;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      background: var(--main-color);
      padding: 10px 0;
   }

   .content {
      @include flex-box;
      font-size: 18px;
      line-height: 1.3;
      padding: 20px;
      text-align: center;
   }

   .success {
      @include flex-box;

      button {
         padding: 3px 16px 4px;
         font-size: 14px;
         color: #fff;
         background: var(--main-color);
         border-radius: 100px;
         cursor: pointer;
      }
   }
}


@media (max-width: 500px) {
   .modal_body {max-width: 90%;}
}