.location {
   overflow: hidden;
   width: 100%;
   background: url('/img/location/location_bg.jpg') no-repeat center / cover;
   padding: 17rem 0 max(50px, 12rem);
   @include mixins.vertical-flex();
   gap: max(60px, 9rem);
   justify-content: start
}

.location .wrap_container {
   width: 100%;
   @include mixins.vertical-flex();
   justify-content: start;
   gap: max(60px, 12rem);
}

// 첫번째
@media (min-width: 992px) { // swiper 아닌 상태 처리, 모바일에선 swiper로 전환
   .wrap_container .itemBox {
      overflow: unset !important; // swiper style 무력화
      
      :global(.swiper-wrapper) {
         @include mixins.flex-box();
         align-items: start;
         width: 100%;
         gap: 4rem;
         flex-wrap: wrap;
         gap: 50px 30px;
      }
   }

   .itemBox .item_slide {
      width: calc(100% / 3 - 25px) !important;

      &:nth-of-type(4), &:nth-of-type(5) {
         width: 50% !important;
         max-width: 44rem;
      }

      .item {
         width: 100%;
         min-height: 50rem;
      }
   }
}

.itemBox .item {
   position: relative;
   border-radius: 30px;
   background: #fff;
   max-width: 440px;

   .title_point {
      background: var(--main-color);
      padding: 7px 11px;
      font-size: var(--fontSize20);
      color: #fff;
      font-weight: 700;
      border-radius: 100px;
      text-transform: uppercase;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
   }
}

.itemBox .item .unit {
   @include mixins.vertical-flex();
   justify-content: start;
   gap: 15px;
   padding: 25px;
   text-align: center;

   img {width: 100%;}

   .txt_box {
      @include mixins.vertical-flex();
      justify-content: start;
      gap: 15px;
      color: #000;
      min-height: 120px;

      h5 {
         font-size: var(--fontSize25);
         font-weight: 700;
         line-height: 1.3;

         span {color: var(--main-color);}
      }

      p {
         font-size: var(--fontSize18);
         font-weight: 500;
         line-height: 1.4;
         
         b {font-weight: 700;}
      }
   }

   .link_btn {
      margin-top: 10px;
      background: var(--main-color);
      padding: 10px;
      width: 100%;
      max-width: 250px;
      font-size: var(--fontSize20);
      color: #fff;
      font-weight: 700;
      border-radius: 100px;
      text-transform: uppercase;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s;

      &:hover {background: var(--hover-color);}
   }
}


@media (max-width: 1380px) {
   .itemBox .item {max-width: 100%;}
   .itemBox .item .unit {
      .txt_box {
         h5 {min-height: 2.1em;}
         br {display: none;}
      }
   }
}

@media (max-width: 992px) {
   .wrap_container .itemBox {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

@media (max-width: 768px) {
   .itemBox .item {
      min-height: 390px;
   }
}

@media (max-width: 680px) {
   .itemBox .item {
      min-height: 370px;
   }
}



// 두번째 규제검토 박스
.analysis_box {
   @include mixins.vertical-flex();
   justify-content: start;
   border-radius: 20px;
   background: rgba(0,0,0,0.8);
   --webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   padding: 7rem 15px 9rem;


   .title_box {
      @include mixins.vertical-flex();
      justify-content: start;
      gap: max(25px, 5rem);
      margin-bottom: max(25px, 5rem);
      text-align: center;

      .title {
         @include mixins.vertical-flex();
         justify-content: start;
         gap: max(10px, 1.5rem);
         color: #fff;

         span {
            font-size: var(--fontSize25);
            line-height: 1.4;
            display: inline-block;
            padding: 3px 15px;
            border-radius: 100px;
            background: var(--main-color);
         }

         h2 {
            font-weight: 700;
            font-size: var(--fontSize45);
         }
      }

      p {
         font-size: var(--fontSize20);
         font-weight: 500;
         color: #fff;
         line-height: 1.4;
      }
   }

   // 체크리스트랑 맵박스는 아래에

   > .sub_txt {
      color: #fff;
      font-size: var(--fontSize30);
      font-weight: 500;
      line-height: 1.4;
      text-align: center;
      margin-bottom: max(30px, 6rem);
   }

   > .sub_txt2 {
      color: #797979;
      font-size: var(--fontSize16);
      line-height: 1.4;
      text-align: center;
      margin-bottom: max(20px, 3rem);
   }


   // 하단 버튼 그룹
   > .btn_box {
      @include mixins.flex-box();
      margin: 0 auto;
      gap: 20px;
      color: #fff;
      text-align: center;
      width: 100%;

      > * {
         cursor: pointer;
         transition: all 0.3s;
      }

      .blue_btn a {
         background: #05438E;
         border-radius: 100px;
         font-size: var(--fontSize25);
         font-weight: 600;
         line-height: 1;
         padding: 17px 10px;
         min-width: 330px;
         display: block;
         transition: inherit;

         &:hover {
            background: #085bc0;
         }
      }

      .red_btn {
         background: var(--main-color);
         border-radius: 100px;
         font-size: var(--fontSize25);
         font-weight: 600;
         line-height: 1;
         padding: 17px 10px;
         min-width: 330px;

         &:hover {
            background: var(--hover-color);
         }
      }
   }
}

// 규제 검토 박스
.analysis_box .mapBox {
   @include mixins.flex-box();
   justify-content: start;
   gap: 50px;
   width: 100%;
   max-width: 1000px;
   margin-bottom: max(60px, 10rem);
}

// 왼쪽
.mapBox .img_box {
   @include mixins.vertical-flex();
   align-items: start;
   gap: 10px;
   width: 53%;

   > img {width: 100%;}

   .color_check {
      padding-left: 13px;
      @include mixins.flex-box();
      justify-content: start;
      gap: 20px;

      .unit {
         @include mixins.flex-box();
         justify-content: start;
         gap: 6px;
         color: #fff;
         font-size: max(10px, 1.6rem);
         font-weight: 500;
         white-space: nowrap;

         .dote {
            width: 1em;
            height: 1em;
            border-radius: 50%;
         }

         &.red .dote {background: #EE4E4E;}
         &.blue .dote {background: #5454E2;}
         &.green .dote {background: #4FF24F;}
      }
   }
}


// 오른쪽
.mapBox .slide_box {
   width: 47%;
   @include mixins.vertical-flex();
   align-items: start;
   gap: 20px;

   .tab_title {
      @include mixins.vertical-flex();
      gap: 20px;
      align-items: start;
      width: 100%;

      h5 {
         font-size: var(--fontSize25);
         font-weight: 800;
         line-height: 1.2;
         color: #fff;
      }

      // pagination style
      .tab_box {
         @include mixins.flex-box();
         justify-content: start;
         gap: 15px;
         width: inherit;

         > li {
            width: calc(100% /3);
            background: #484848;
            padding: 8px 10px;
            border-radius: 100px;
            text-align: center;
            font-size: var(--fontSize20);
            color: rgba(255,255,255,0.5);
            font-weight: 800;
            height: fit-content;
            white-space: nowrap;
            margin: 0;
            opacity: 1;
            transition: all 0.2s;


            // active-pagination
            &:global(.swiper-pagination-bullet-active) {
               background: var(--main-color);
               color: #fff;
            }
         }
      }
   }

   // card_box 부모
   .card_wrapper {
      width: 100%;
   }

   .card_box {
      width: 100%;
      @include mixins.vertical-flex();
      align-items: start;
      gap: 25px;
      background: #fff;
      border-radius: 20px;
      padding: 26px;
      min-height: max(265px, 31rem);

      .card {
         @include mixins.vertical-flex();
         align-items: inherit;
         gap: 20px;

         h4 {
            font-size: var(--fontSize25);
            font-weight: 800;
            line-height: 1.2;
         }

         .list {
            @include mixins.vertical-flex();
            align-items: inherit;
            gap: 5px;

            > li {
               position: relative;
               font-size: var(--fontSize18);
               color: #434343;
               font-weight: 600;
               line-height: 1.3;
               padding-left: 1.33em;

               &::before {
                  content:'';
                  position: absolute;
                  top: 0.444em;
                  left: 0.6em;
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background: #434343;
               }
            }
         }
      }
   }

   // 두번째 슬라이드 스타일
   .card_box.type_02 {
      align-items: center;

      .card {
         gap: 10px;

         h4 {
            font-size: var(--fontSize35);
            font-weight: 800;
            line-height: 1.2;
         }

         .list > li {
            padding-left: 0;

            &::before {display: none;}
         }
      }
   }  
}

@media (max-width: 768px) {
   .analysis_box > .btn_box {
      @include mixins.vertical-flex();

      .blue_btn, .blue_btn a, .red_btn {
         min-width: auto;
         width: 100%;
         max-width: 500px;
      }
   }
   .analysis_box .mapBox {
      @include mixins.vertical-flex();
      margin-bottom: max(30px, 7rem);
   }

   .mapBox .img_box {
      width: 90%;
   }

   .mapBox .slide_box {
      width: 90%;
   }
}

@media (max-width: 600px) {
   .analysis_box br {display: none;}

   .mapBox .img_box {
      width: 100%;
   }

   .mapBox .slide_box {
      width: 100%;
   }
}