
.calcSection {
   width: 100%;
   padding: max(50px, 12rem) 0 max(60px, 13rem);
   background: url('/img/calc/sec7_bg.jpg') no-repeat center / cover;
   @include mixins.vertical-flex();
   justify-content: start;
   gap: max(50px, 7rem);
}

.calcSection .wrapper {
   @include mixins.vertical-flex();
   justify-content: start;
   gap: max(70px, 12rem);
}

// .calcSection .title_box {
//    margin-bottom: max(50px, 8rem);
// }

