.sec3 {
  overflow: hidden;
}

.title_header {
  background: #191718;
  width: 100%;
  padding: 6rem 0;
}

.title_header .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
}
.title_header .title span {
  font-size: 3.5rem;
  font-weight: 500;
}
.title_header .title h2 {
  font-size: 6rem;
  font-weight: 700;
}

.wrap_container {
  width: 100%;
  background: url("/img/sec3/sec3_bg.jpg") no-repeat center/cover;
  padding: 17rem 0 max(100px, 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: max(60px, 9rem);
  justify-content: start;
}

.itemBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.5rem;
  width: 100%;
  max-width: 1300px;
}
.itemBox .text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 30px;
  color: #fff;
}
.itemBox .text_box h3 {
  font-size: max(25px, 4.5rem);
  font-weight: 700;
  line-height: 1.4;
}
.itemBox .text_box p {
  font-size: max(16px, 2.5rem);
  line-height: 1.4;
}
.itemBox .img_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  justify-content: start;
  background: #fff;
  border-radius: 30px;
  padding: max(20px, 4rem) max(15px, 3.5rem);
  gap: 30px;
}
.itemBox .img_box .unit {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 30px;
}
.itemBox .img_box .unit .img {
  width: 100%;
  max-width: 220px;
}
.itemBox .img_box .unit .unit_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 15px;
}
.itemBox .img_box .unit .unit_txt .title_point {
  background: var(--main-color);
  padding: 7px 13px;
  font-size: max(14px, 2rem);
  color: #fff;
  font-weight: 700;
  border-radius: 100px;
  text-transform: uppercase;
}
.itemBox .img_box .unit .unit_txt p {
  font-size: max(14px, 2rem);
  font-weight: 700;
  color: #000;
  line-height: 1.4;
}

.location_box {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  --webkit-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 7rem 15px 9rem;
}
.location_box .title_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: max(25px, 5rem);
  margin-bottom: max(25px, 5rem);
  text-align: center;
}
.location_box .title_box .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: max(10px, 1.5rem);
  color: #fff;
}
.location_box .title_box .title span {
  font-size: max(15px, 2.5rem);
  line-height: 1.4;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 100px;
  background: var(--main-color);
}
.location_box .title_box .title h2 {
  font-weight: 700;
  font-size: max(25px, 4.5rem);
}
.location_box .title_box p {
  font-size: max(14px, 2rem);
  font-weight: 500;
  color: #fff;
  line-height: 1.4;
}

.mapBox {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
}
.mapBox .img_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.mapBox .img_box .img {
  width: 100%;
  max-width: 475px;
}
.mapBox .img_box .color_check {
  padding-left: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 20px;
}
.mapBox .img_box .color_check .unit {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 6px;
  color: #fff;
  font-size: max(13px, 1.6rem);
  font-weight: 500;
  white-space: nowrap;
}
.mapBox .img_box .color_check .unit .dote {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.mapBox .img_box .color_check .unit.red .dote {
  background: #EE4E4E;
}
.mapBox .img_box .color_check .unit.blue .dote {
  background: #5454E2;
}
.mapBox .img_box .color_check .unit.green .dote {
  background: #4FF24F;
}/*# sourceMappingURL=Section03.module.css.map */