
.WhyUs {
   overflow: hidden; position: relative;
   @include mixins.sectionPaddings;
   background: url('/img/whyUs/whyUs_bg.png') no-repeat top / cover;
}

.WhyUs .wrapper > * {
   position: relative;
   z-index: 2;
}

.logo_circle {
   position: absolute;
   z-index: 1;
   width: 80rem;
   opacity: 0.2;

   &.circle01 {
      top: -11vw;
      right: -13vw;
      animation: circle1Rotate 30s infinite linear;
   }

   &.circle02 {
      bottom: -20vw;
      left: -13vw;
      animation: circle2Rotate 30s infinite linear;
   }
}

@keyframes circle1Rotate {
   from {transform: rotate(0deg)}
   from {transform: rotate(360deg)}
}

@keyframes circle2Rotate {
   from {transform: rotate(0deg)}
   from {transform: rotate(-360deg)}
}


.WhyUs .wrapper > .title_box {

   margin-bottom: max(40px, 6rem);

   h2 {color: #000;}

   span.img_deco {
      position: relative;

      &::before {
         content:'';
         position: absolute;
         top: -35%;
         right: -24%;
         background: url('/img/deco_light.png') no-repeat center / cover;
         width: 1.33333em;
         height: 1.41666em;
      }
   }
}

.WhyUs .wrapper .itemBox_container {
   @include mixins.vertical-flex;
   justify-content: start;
   gap: max(60px, 8rem);
}

.itemBox {
   background: url('/img/whyUs/stepCard_bg.png') no-repeat center / cover;
   padding: 25px;
   border-radius: 30px;
   width: 100%;

   &.item01 {--item-color: #d82a38;}
   &.item02 {--item-color: #1DB82F;}
   &.item03 {--item-color: #238EF3;}

   .content_wrap {
      @include mixins.vertical-flex;
      justify-content: start;
      gap: max(25px, 4rem);

      border: 5px solid var(--item-color);
      border-radius: inherit;
      background: transparent;
      padding: 25px max(25px, 3.5rem) 10rem;
   }
}

.content_wrap .point_header {
   width: 100%;
   @include mixins.flex-box;
   gap: max(5px, 1rem);

   span {
      font-size: var(--fontSize25);
      line-height: 1.4;
      font-weight: 600;
      color: #fff;
      white-space: nowrap;
   }

   .line {
      flex: 1;
      width: 100%;
      height: 1px;
      background: #fff;
   }
}

.content_wrap .content {
   @include mixins.vertical-flex;
   justify-content: start;
   width: 100%;
   max-width: 1000px;
   gap: max(40px, 6rem);

   .content_title {
      color: #fff;
      text-align: center;
      @include mixins.vertical-flex;
      justify-content: start;
      gap: 20px;

      h3 {
         font-size: var(--fontSize50);
         line-height: 1.4;
         font-weight: 800;

         span:global(.title_deco) {
            background: var(--item-color);
         }
      }

      p {
         font-size: var(--fontSize20);
         line-height: 1.4;

         b {font-weight: 600;}
      }
   }
}

.content_wrap .content .list {
   @include mixins.flex-box;
   align-items: start;
   justify-content: space-between;
   gap: 40px;
   width: 100%;

   > li {
      @include mixins.vertical-flex;
      justify-content: start;
      gap: 13px;
      flex: 1;

      img {width: 100%; max-width: 190px;}

      .txt_box {
         @include mixins.vertical-flex;
         justify-content: start;
         gap: 10px;
         color: #fff;
         text-align: center;

         h5 {
            font-size: var(--fontSize25);
            line-height: 1.2;
            font-weight: 700;
            padding: 5px 16px;
            background: var(--item-color);
            border-radius: 100px;
         }

         p {
            font-size: var(--fontSize18);
            line-height: 1.4;
            font-weight: 300;
         }
      }
   }
}

@media (min-width: 601px) {
   .content_wrap .content .content_title {
      .mob_br {display: none;}
   }
}

@media (max-width: 900px) {
   .content_wrap .content .list {
      flex-wrap: wrap;
      justify-content: center;

      > li {
         width: calc(100% / 2 - 20px);
         flex: unset;
      }
   }
}

@media (max-width: 600px) {

   .content_wrap .content .content_title {
      br {display: none;}
      .mob_br {display: block !important;}
   }


   .content_wrap .content .list {
      flex-wrap: unset;
      flex-direction: column;

      > li {
         width: 100%;

         img {max-width: 250px;}

         .txt_box {

            h5 {font-size: var(--fontSize35);}

            p {font-size: var(--fontSize25);}
         }
      }
   }
}

@media (max-width: 500px) {
   .itemBox {
      padding: 10px;

      .content_wrap {
         padding: 25px 15px 35px;
      }
   }

   .content_wrap .content {
      .content_title {
         h3 {font-size: var(--fontSize40);}

         p br {display: none;}
      }
   }

   .content_wrap .content .list {
      > li {
         .txt_box {
            gap: 20px;
            br {display: none;}
         }
      }
   }
}


