

.bottomForm {
   width: 100%;
   position: fixed;
   bottom: 0;
   left: 0;
   background: var(--main-color);
   border-top: 1px solid #DEDEDE;
   z-index: 1000;
   padding: 15px 0;
}

.wrapper {
   @include mixins.flex-box;
   justify-content: space-between;
}

.bottomForm .left_box {
   @include mixins.flex-box;
   justify-content: start;
   gap: 10px;

   .tel_box {
      padding: 7px 11px;
      background: #1B1B1B;
      color: #fff;
      font-size: max(15px, 1.8rem);
      font-weight: 800;
      line-height: 1.2;
      border-radius: 10px;
   }

   .tel_content {
      @include mixins.vertical-flex();
      align-items: start;
      gap: 5px;

      > a {
         font-size: var(--fontSize30);
         color: #fff;
         font-weight: 700;
         line-height: 1;
      }

      > p {
         font-size: max(12px, 1.4rem);
         color: var(--main-color);
         line-height: 1.2;
         font-weight: 500;
      }
   }
}


.bottomForm .right_box {
   @include mixins.flex-box;
   width: fit-content;
   gap: 15px;

   .button {
      border-radius: 5px;
      min-width: 160px;
      padding: 11px 16px;
      color: #fff;
      font-size: max(16px, 2.3rem);
      font-weight: 800;
      background: #fff;
      cursor: pointer;
      text-align: center;
      transition: all 0.1s;

      &.contact {
         color: var(--main-color);

         &:hover {background: #1b1b1b; color: #fff;}
      }
      &.map {
         color: #05438E;

         &:hover {background: #05438E; color: #fff;}
      }
      &.calc {
         background: url('/img/deco_gold_bg.png') no-repeat center / cover;
         color: var(--sub-color1);

          &:hover {color: var(--main-color);}
      }

      br {display: none;}
   }
}

@media (max-width: 992px) {
   .bottomForm {padding: 10px 0;}
   .wrapper {justify-content: center;}
   .bottomForm .left_box {display: none;}
   .bottomForm .right_box {
      width: 100%;

      .button {
         flex: 1;
         min-width: unset;
         padding: 11px;
         line-height: 1.2;
      }
   }
}

@media (max-width: 600px) {
   .bottomForm .right_box {

      .button {

         br {display: block;}
      }
   }
}