@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.calc_wrapper {
   width: 100%;
   @include vertical-flex;
   gap: max(30px, 5rem);
}

.calc_header {
   @include flex-box;
   gap: max(50px, 12.6rem);
   width: inherit;


   .calc_title {
      @include vertical-flex;
      gap: max(18px, 2.5rem);
      text-align: center;

      h2 {
         font-size: var(--fontSize60);
         line-height: 1.3;
         font-weight: 700;

         & :global(.title_deco) {
            background: #25174C;
         }
      }

      p {
         font-size: var(--fontSize20);
         font-weight: 500;
         color: #000;
         line-height: 1.4;
      }

   }
}

// 입력 상자
.calc_header .calc_input_box {
   @include vertical-flex();
   justify-content: start;
   background: #1a1a1a;
   border-radius: 10px;
   width: 100%;
   max-width: 480px;
   padding: 25px 25px 35px;
   gap: 20px;

   .calc_input_header {
      text-align: center;
      font-size: 25px;
      color: #fff;
      font-weight: 900;
      line-height: 1;
   }

   .calc_submit {
      margin-top: 5px;
      width: 100%;
      max-width: 220px;
      padding: 10px 5px;
      font-size: max(18px, 2rem);
      background: var(--main-color);
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
         background: #ff3445;
      }
   }
}

// 입력상자 인풋
.input_group {
   @include vertical-flex();
   justify-content: start;
   gap: 15px;
   width: 100%;

   .input_item {
      width: inherit;
      @include flex-box();
      justify-content: start;
      background: #fff;
      gap: 10px;
      border-radius: 10px;
      padding: 19px 20px;

      > .tag {
         display: inline-block;
         // text-align: center;
         min-width: 100px;
         font-size: max(14px, 1.8rem);
         font-weight: 600;
         color: #000;
         white-space: nowrap;

         span {position: relative;}

         &.required span::after {
            content: '*';
            position: absolute;
            top: -0px;
            right: -12px;
            color: var(--main-color);

         }
      }

      > input {
         flex: 1;
         font-size: max(16px, 1.8rem);
         color: #000;
         font-weight: 500;
         border-left: 1px solid #e0e0e0;
         padding-left: 5px;
         
         &::placeholder {
            color: #797979;
            font-weight: 400;
         }
      }
   }
}


@media (max-width: 992px) {
   .calc_header {
      flex-direction: column;
      gap: 50px;
   }

   .calc_header .calc_input_box {
      max-width: 100%;
   }
}

@media (max-width: 768px) {
   @mixin border_change {
      border-left: none; 
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 3px;
   }
   .calc_header .calc_input_box {
      padding: 25px 15px 30px;
   }

   .calc_header .calc_input_box .input_item {
      padding: 15px 10px 12px;
      min-width: 0;
      gap: 15px;
      @include vertical-flex();
      align-items: start;

      input {
         width: 100%; 
         @include border_change;
      }
   }

   .calc_header .calc_input_box .calc_submit {
      max-width: 100%;
   }
}


// 결과 박스
.calc_result_box {
   @include vertical-flex();
   justify-content: start;
   gap: 15px;

   width: 100%;
   background: #1A1A1A;
   border-radius: 10px;
   padding: max(20px, 3.5rem) max(20px, 3.5rem) max(25px, 3rem);

   .result_window {
      background: #2F2F2F;
      border-radius: 10px;
      width: 100%;
      min-height: 180px;
      padding: 20px;

      .data_box {
         @include vertical-flex();
         justify-content: start;
         align-items: start;
         gap: 15px;

         .month_result {
            color: #fff;
            font-size: max(16px, 2rem);
            font-weight: 700;
            line-height: 1.2;
         }

         .month_chart {
            width: 100%;
            @include flex-box();
            align-items: stretch;
            justify-content: start;
            gap: 25px;
            height: 310px;


            .Coordinates_Y { // y좌표
               @include vertical-flex();
               gap: 5px;
               align-items: start;
               justify-content: space-between;

               > li {
                  color: #fff;
                  font-size: var(--fontSize16);
                  font-weight: 600;
               }
            }

            .Coordinates_X {
               display: flex;
               align-items: end;
               justify-content: space-around;
               gap: 40px;
               flex: 1;

               > .item {
                  flex: 1;
                  max-width: 150px;
                  @include vertical-flex();
                  gap: 10px;
                  justify-content: end;


                  .object {
                     width: 100%;
                     height: 100px;
                     background: linear-gradient(#FF8686, #F32828);
                     transition: all 0.3s;
                  }

                  span {
                     font-size: max(12px, 1.4rem);
                     color: #fff;
                     font-weight: 600;
                     
                  }
               }
            }
         }
      }
   }

   .not_data_txt {
      @include flex-box();
      color: #fff;
      font-weight: 500;
      font-size: var(--fontSize20);
      width: 100%;
      min-height: 180px;
      text-align: center;
      line-height: 1.4;
   }

   .profit {
      width: 100%;
      max-width: 620px;
      padding: 14px 10px;
      background: var(--main-color);
      color: #fff;
      font-size: var(--fontSize25);
      font-weight: 600;
      line-height: 1.3;
      text-align: center;
      border-radius: 10px;
   }
   
}