.sec7 {
  width: 100%;
  padding: max(50px, 12rem) 0 max(60px, 13rem);
  background: url("/img/sec7/sec7_bg.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: max(50px, 7rem);
}

.sec7 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: max(70px, 12rem);
}

.itemBox {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: max(30px, 7rem);
}
.itemBox .box_vertical_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 30px;
  width: 100%;
  max-width: 480px;
}
.itemBox .toggle_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 10px 5px rgba(0, 0, 0, 0.1);
  gap: 20px;
}
.itemBox .toggle_box .box_header {
  border-radius: inherit;
  padding: max(13px, 1.6rem) 10px;
  background: #2A2A2A;
  text-align: center;
  width: 100%;
}
.itemBox .toggle_box .box_header h5 {
  font-size: var(--fontSize35);
  color: #fff;
  line-height: 1.2;
  font-weight: 800;
}
.itemBox .toggle_box .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: max(10px, 1.5rem);
  text-align: center;
  padding: 0 10px max(25px, 3.5rem);
}
.itemBox .toggle_box .content p.txt1 {
  color: #000;
  font-size: var(--fontSize30);
  font-weight: 800;
}
.itemBox .toggle_box .content p.txt2 {
  color: #434343;
  font-size: var(--fontSize20);
  font-weight: 500;
  line-height: 1.3;
}

.itemBox .package_box {
  gap: max(25px, 4.5rem);
  flex: 1;
  max-width: 850px;
}
.itemBox .package_box .box_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: max(15px, 2.2rem) 10px;
  background: linear-gradient(#D82A38, #B71926);
  color: #fff;
  font-weight: 800;
  line-height: 1.2;
}
.itemBox .package_box .box_header h5 {
  font-size: var(--fontSize35);
}
.itemBox .package_box .box_header span {
  font-size: var(--fontSize20);
}

.itemBox .package_box .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset !important;
  justify-content: start;
  gap: max(15px, 2rem);
  width: 100%;
  padding: 0 3.5rem 4.5rem;
}
.itemBox .package_box .content .unit {
  background: #c33b47;
  border-radius: 10px;
  min-height: 213px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.25);
  flex: 1;
}
.itemBox .package_box .content .unit .icon_img {
  width: auto;
  height: max(50px, 9.3rem);
}
.itemBox .package_box .content .unit > span {
  font-size: var(--fontSize20);
  color: #fff;
}
.itemBox .package_box .content .unit.kiosk_group {
  flex-direction: unset;
  gap: 15px;
  padding: 20px 10px;
  flex: 2.24;
}
.itemBox .package_box .content .unit.kiosk_group .kiosk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.itemBox .package_box .content .unit.kiosk_group .kiosk > span {
  font-size: var(--fontSize20);
  color: #fff;
}
.itemBox .package_box .content .unit.kiosk_group .kisok_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: max(13px, 2rem);
}
.itemBox .package_box .content .unit.kiosk_group .kisok_item .item_unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.itemBox .package_box .content .unit.kiosk_group .kisok_item .item_unit > img {
  width: auto;
  height: max(40px, 5rem);
}
.itemBox .package_box .content .unit.kiosk_group .kisok_item .item_unit > span {
  font-size: var(--fontSize16);
  color: #fff;
}

@media (min-width: 992px) {
  .itemBox .package_box {
    min-width: 600px;
  }
}
@media (max-width: 992px) {
  .itemBox {
    flex-direction: column;
  }
  .itemBox .package_box {
    max-width: 90%;
    border-radius: 10px;
  }
  .itemBox .package_box .box_header {
    border-radius: inherit !important;
  }
  .itemBox .box_vertical_group {
    flex-direction: unset;
    max-width: 90%;
  }
  .itemBox .box_vertical_group .toggle_box {
    justify-content: start;
    min-height: 185px;
    border-radius: 10px;
  }
  .itemBox .box_vertical_group .toggle_box .box_header {
    border-radius: inherit !important;
  }
}
@media (max-width: 768px) {
  .itemBox .package_box .content {
    flex-wrap: wrap;
  }
  .itemBox .package_box .content .unit {
    width: calc(33.3333333333% - 11px);
    flex: unset;
    min-height: unset;
    padding: 20px 10px;
  }
  .itemBox .package_box .content .unit.kiosk_group {
    width: 100%;
    flex: unset;
  }
  .itemBox .package_box .content .unit.kiosk_group .kisok_item {
    flex-direction: unset;
  }
  .itemBox .package_box .content .unit.kiosk_group .kisok_item .item_unit > img {
    height: max(50px, 6.3rem);
  }
  .itemBox .box_vertical_group {
    flex-direction: column;
  }
  .itemBox .box_vertical_group .toggle_box {
    min-height: auto;
  }
}
@media (max-width: 500px) {
  .itemBox .package_box .content .unit {
    padding: 10px;
    width: calc(50% - 10px);
  }
  .itemBox .package_box .content .unit:nth-of-type(3) {
    width: 100%;
  }
}/*# sourceMappingURL=Section07.module.css.map */