@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.sec7 {
   width: 100%;
   padding: max(50px, 12rem) 0 max(60px, 13rem);
   background: url('/img/sec7/sec7_bg.jpg') no-repeat center / cover;
   @include vertical-flex();
   justify-content: start;
   gap: max(50px, 7rem);
}

.sec7 .wrapper {
   @include vertical-flex();
   justify-content: start;
   gap: max(70px, 12rem);
}

// .sec7 .title_box {
//    margin-bottom: max(50px, 8rem);
// }

.itemBox {
   @include flex-box();
   justify-content: start;
   gap: max(30px, 7rem);

   .box_vertical_group {
      @include vertical-flex();
      align-items: start;
      gap: 30px;
      width: 100%;
      max-width: 480px;
   }

   .toggle_box {
      width: 100%;
      @include vertical-flex();
      align-items: start;
      background: #fff;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 8px 10px 5px rgba(0,0,0,0.1);
      gap: 20px;

      .box_header {
         border-radius: inherit;
         padding: max(13px, 1.6rem) 10px;
         background: #2A2A2A;
         text-align: center;
         width: 100%;

         h5 {
            font-size: var(--fontSize35);
            color: #fff;
            line-height: 1.2;
            font-weight: 800;
         }
      }

      .content {
         width: 100%;
         @include vertical-flex();
         gap: max(10px, 1.5rem);
         text-align: center;
         padding: 0 10px max(25px, 3.5rem);

         p.txt1 {
            color: #000;
            font-size: var(--fontSize30);
            font-weight: 800;
         }

         p.txt2 {
            color: #434343;
            font-size: var(--fontSize20);
            font-weight: 500;
            line-height: 1.3;
         }
      }
   }
}


// 패키지만 따로 css 지정
.itemBox .package_box {
   gap: max(25px, 4.5rem);
   flex: 1;
   max-width: 850px;

   .box_header {
      width: 100%;
      @include vertical-flex();
      gap: 10px;
      padding: max(15px, 2.2rem) 10px;
      background: linear-gradient(#D82A38, #B71926);
      color: #fff;
      font-weight: 800;
      line-height: 1.2;

      h5 {
         font-size: var(--fontSize35);
      }

      span {
         font-size: var(--fontSize20);
      }
   }
}

// 패키지 내부 내용
.itemBox .package_box .content {
   @include flex-box();
   flex-direction: unset !important;
   justify-content: start;
   gap: max(15px, 2rem);
   width: 100%;
   padding: 0 3.5rem 4.5rem;
   
   .unit {
      background: #c33b47;
      border-radius: 10px;
      min-height: 213px;
      padding: 10px;
      @include vertical-flex();
      gap: 13px;
      box-shadow: 0 4px 10px 0px rgba(0,0,0,0.25);
      flex: 1;

      .icon_img {width: auto; height: max(50px, 9.3rem);}
      > span {
         font-size: var(--fontSize20);
         color: #fff;
      }

      &.kiosk_group {
         flex-direction: unset;
         gap: 15px;
         padding: 20px 10px;
         flex: 2.24;

         .kiosk {
            @include vertical-flex();
            gap: 13px;

            > span {
               font-size: var(--fontSize20);
               color: #fff;
            }
         }

         .kisok_item {
            @include vertical-flex();
            gap: max(13px, 2rem);

            .item_unit {
               @include vertical-flex();
               gap: 7px;

               > img {
                  width: auto;
                  height: max(40px, 5rem);
               }
               > span {
                  font-size: var(--fontSize16);
                  color: #fff;
               }
            }
         }
         
      }
   }
}

@media (min-width: 992px) {
   .itemBox .package_box {
      min-width: 600px;
   }
}

@media (max-width: 992px) {
   .itemBox {
      flex-direction: column;

      .package_box {
         max-width: 90%;
         border-radius: 10px;

         .box_header {
            border-radius: inherit !important;
         }
      }

      .box_vertical_group {
         flex-direction: unset;
         max-width: 90%;

         .toggle_box {
            justify-content: start;
            min-height: 185px;
            border-radius: 10px;

            .box_header {
               border-radius: inherit !important;
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .itemBox {

      .package_box .content {
         flex-wrap: wrap;

         .unit {
            width: calc(100% / 3 - 11px);
            flex: unset;
            min-height: unset;
            padding: 20px 10px;

            &.kiosk_group {
               width: 100%;
               flex: unset;

               .kisok_item {
                  flex-direction: unset;

                  .item_unit {
                     > img {height: max(50px, 6.3rem);}
                  }
               }
            }
         }
      }

      .box_vertical_group {
         flex-direction: column;

         .toggle_box {
            min-height: auto;
         }
      }
   }
}

@media (max-width: 500px) {
   .itemBox .package_box .content .unit {
      padding: 10px;
      width: calc(100% / 2 - 10px);

      &:nth-of-type(3) {
         width: 100%;
      }
   } 
}

