
.privacy_line {
   background: var(--main-color);
}


.privacy {
   position: relative;
   width: 100%;
   height: 100dvh;
   background: linear-gradient(0deg, #87151E 41%, #D82A38);
   overflow: hidden;

   .logo_img {
      position: absolute;
      z-index: 1;
      top: 22.3rem;
      left: 0;
      // transform: translateX(-50%);
      opacity: 0.1;
      width: 161rem;
   }

   &::before {
      content:'';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      background: #ccc;
      z-index: 2;
      background: url('/img/privacy/privacy_bg.jpg') no-repeat center right / cover;
      background-attachment: fixed;
   }
}

.sec_wrapper {
   position: relative;
   z-index: 3;
   @include mixins.sectionPaddings;
   height: 100%;
   @include mixins.vertical-flex;
}

.sec_wrapper .title_box {
   color: #fff;
   margin-bottom: max(40px, 6rem);

   span:global(.title_deco_circle) {
      padding: 0;
      border-radius: 0;
      background: none;
   }

   h2 {
      span:global(.title_deco) {
         background: #fff;
         color: var(--main-color);
      }
   }
}

.sec_wrapper .stoer_wrapper {
   position: relative;
   @include mixins.flex-box;
   gap: 10px;

   @media (min-width: 1081px) {
      gap: 110px;
   }
}

.stoer_wrapper .vs_img {
   position: relative;
   z-index: 2;
   width: max(80px, 14.6rem);

   @media (min-width: 1081px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}

.stoer_wrapper .store_box {
   @include mixins.vertical-flex;
   justify-content: start;
   overflow: hidden;
   border-radius: 30px;
   width: 100%;
   position: relative;
   z-index: 1;

   .store_header {
      padding: 20px 5px;
      text-align: center;
      position: relative;
      width: 100%;

      p {
         font-size: max(20px, 3.5rem);
         font-weight: 700;
         line-height: 1.4;
         color: #fff;
      }
   }
}

.store_box .content_box {
   @include mixins.vertical-flex;
   align-items: start;
   gap: 30px;

   padding: 25px max(20px, 4.5rem) max(30px, 4rem);

   > img {width: 100%;}

   .txt_list {
      @include mixins.vertical-flex;
      justify-content: start;
      align-items: start;
      gap: 15px;
      padding-left: 20px;

      > li {
         position: relative;
         font-size: var(--fontSize20);
         color: #fff;
         font-weight: 500;
         line-height: 1.3;
         padding-left: 0.5em;

         &::before {
            content:'';
            position: absolute;
            top: 0.5em;
            left: -0.3em;
            width: 0.25em;
            height: 0.25em;
            border-radius: 50%;
            background: #fff;
         }
      }
   }
}

// 타 무인매장
.stoer_wrapper .another_store {
   background: #424242;

   .store_header {
      background: #141414;
   }
}


// 푸푸 매장
.stoer_wrapper .privacy_store {
   background: #1B1B1B;

   .store_header {
      background: var(--main-color);
      position: relative;
      overflow: hidden;

      &::before, &::after {
         position: absolute;
         content: '';
         bottom: 0;
         width: 96px;
         height: 100%;
      }

      &::before {
         left: 0;
         background: url('/img/privacy/parivacy_line.png') no-repeat center / cover;
      }
      &::after {
         right: 0;
         background: url('/img/privacy/consider_line.png') no-repeat center / cover;
      }
   }
}

.privacy_store .content_box {
   // 프라이빗 동선만 해당
   .list_box {
      @include mixins.vertical-flex;
      justify-content: start;
      align-items: start;
      gap: max(20px, 2.5rem);

      > h3 {
         font-size: var(--fontSize35);
         font-weight: 800;
         color: #fff;
         line-height: 1.4;
      }
   }

   .txt_list {
      padding-left: 10px;

      > li {
         padding-left: 0.6em;

         &::before {
            content:'1.';
            position: absolute;
            top: 0;
            left: -0.7em;
            width: fit-content;
            height: fit-content;
            border-radius: 50%;
            background: unset;
         }

         &:nth-child(1)::before {content:'1.'}
         &:nth-child(2)::before {content:'2.'}
         &:nth-child(3)::before {content:'3.'}
      }
   }
}


@media (min-width: 1430px) {
   .stoer_wrapper .another_store {
      min-height: 560px;
   }

   .stoer_wrapper .privacy_store {
      min-height: 740px;
   }
}

@media (max-width: 1080px) {
   .privacy {height: auto;}
   .sec_wrapper .stoer_wrapper {
      flex-direction: column;

      .store_box {
         width: auto;
      }
   }

   .stoer_wrapper .another_store {
      align-self: flex-end;
      order: 3;
   }

   .stoer_wrapper .privacy_store {
      align-self: flex-start;
      order: 1;
   }

   .privacy_store .content_box {
      .list_box {
         align-items: center;
      }
   }

   .stoer_wrapper .vs_img {top: 47%; order: 2;}
}

@media (max-width: 500px) {
   .privacy_store .content_box {
      .list_box {
         h3 {
            text-align: center;

            br {display: none;}
         }
      }
   }

   .another_store .content_box {
      .txt_list {
         padding-left: 0;
      }
   }
}


