@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.sec_wrapper {
   position: relative;
   width: 100%;
   height: 100dvh;
   background: linear-gradient(-90deg, #373737 32%, #010101);


   // 배경
   &::before {
      content:'';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      background: #ccc;
      z-index: 1;
   }

   &.step1 .logo_img {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.1;
      width: 161rem;
   }

   &.step1::before {
      background: linear-gradient(90deg, #72161E, #D82A38);
   }

   &.step2::before {
      background: url('/img/sec4/sec4_step2_bg.jpg') no-repeat center / cover;
      background-attachment: fixed;
   }

   &.step3::before {
      background: url('/img/sec4/sec4_step3_bg.jpg') no-repeat center / cover;
      background-attachment: fixed;
   }
}

.sec_wrapper .wrapper {
   @include flex-box;
   justify-content: space-between;
   align-items: center;
   gap: max(25px, 5rem);
   height: 100%;
   position: relative;
   z-index: 2;
   padding-top: max(70px, 13rem);
   padding-bottom: max(70px, 14rem);
}

@media (min-width: 992px) and (max-width: 1650px) {
   .sec_wrapper {
      height: 80dvh;
      min-height: 80dvh;
   }
   // .sec_wrapper .wrapper {
   //    max-width: 1000px;
   // }
}


@media (max-width: 992px) {
   .sec_wrapper {
      height: auto;
   }
   .sec_wrapper .wrapper {
      @include vertical-flex();
      align-items: center;
      gap: max(50px, 7rem);
   }
}

.sec_wrapper .wrapper .titleBox {
   @include vertical-flex();
   align-items: start;
   gap: 30px;
   margin-bottom: auto;

   .title {
      @include vertical-flex();
      align-items: start;
      gap: max(10px, 2rem);

      .step_txt {
         font-size: var(--fontSize30);
         padding: 0.2em 0.5em;
         font-weight: 700;
         text-transform: uppercase;
         border-radius: 100px;
         background: var(--main-color);
         color: #fff;
      }

      > h2 {
         font-size: var(--fontSize60);
         color: #fff;
         font-weight: 700;
         line-height: 1.2;
      }
   }

   > .txt_box {
      @include vertical-flex();
      align-items: start;
      gap: var(--fontSize35);

      > p {
         font-size: var(--fontSize20);
         color: #f0f0f0;
         line-height: 1.5;
         font-weight: 400;
      }
   }
}

@media (max-width: 992px) {
   .sec_wrapper .wrapper .titleBox {
      align-items: center;
      text-align: center;

      .title {
         align-items: center
      }

      > .txt_box {
         align-items: center;
      }
   }
}

@media (max-width: 500px) {
   .sec_wrapper .wrapper .titleBox {

      > .txt_box {
         p br {display: none;}
      }
   }
}


.sec_wrapper .wrapper .itemBox {
   @include vertical-flex();
   align-items: start;
   justify-content: start;
   gap: var(--fontSize35);

   > .item {
      @include flex-box();
      align-items: start;
      gap: var(--fontSize25);

      .img {
         --size: max(80px, 12.6rem);
         width: 100%;
         max-width: var(--size);
         min-width: var(--size);
         height: var(--size);
         border-radius: 10px;
         background: #fff;
         @include flex-box();

         > img {
            width: auto;
            height: max(60px, 8rem);
         }
      }

      .txt_box {
         @include vertical-flex();
         align-items: start;
         gap: 10px;

         > h5 {
            font-size: var(--fontSize25);
            font-weight: 700;
            line-height: 1.2;
            color: #fff;
         }

         > p {
            font-size: var(--fontSize20);
            line-height: 1.4;
            color: #f0f0f0;
         }
      }
   }
}

@media (min-width: 769px) and (max-width: 992px) {
   .sec_wrapper .wrapper .itemBox {
      @include flex-box();
      flex-direction: unset;
      align-items: start;
      width: 100%;
      max-width: 600px;
      flex-wrap: wrap;

      .item {
         @include vertical-flex();
         width: calc(100% / 2 - var(--fontSize25));
         text-align: center;

         .txt_box {
            align-items: center;
            justify-content: start;

            > p br {display: none;}
         }
      }
   }
}

@media (max-width: 768px) {
   .sec_wrapper .wrapper .itemBox {
      .item {
         justify-content: start;
         padding: 15px;
         background: rgba(43, 43, 43, 0.7);
         -webkit-backdrop-filter: blur(3px);
         backdrop-filter: blur(3px);
         border-radius: 10px;
         width: 100%;
      }
   }
}

@media (max-width: 500px) {
   .sec_wrapper .wrapper .itemBox {
      .item {
         @include vertical-flex();

         .txt_box {
            align-items: center;
            text-align: center;

            // > p br {display: none;}
         }
      }
   }
}

@media (max-width: 450px) {
   .sec_wrapper .wrapper .itemBox {
      .item {
         .txt_box {
            > p br {display: none;}
         }
      }
   }
}