
.hero {
   width: 100%;
   height: 100dvh;
   @include mixins.flex-box;
   align-items: center;
   position: relative;
   padding: 45px 0;
   gap: 15px;
   overflow: hidden;
   background: linear-gradient(-360deg, #F93C4B, #A7202C);
}

.itemBox {
   position: relative;
   width: 100%;
   max-width: 1400px;
   height: 100%;
   @include mixins.flex-box();

   .circle_wrap {
      $circle-size : 62rem;

      position: relative;
      z-index: 1;
      width: 100%;
      max-width: $circle-size;
      background: url('/img/hero/banner_circle.png') no-repeat bottom / cover;
      height: $circle-size;
      

      .content_box {
         @include mixins.vertical-flex;
         gap: max(35px, 4.5rem);
         position: absolute;
         width: 100%;
         top: 60%;
         left: 50%;
         transform: translate(-50%, -50%);

         .content {
            @include mixins.vertical-flex;
            gap: 30px;

            .txt_box {
               color: #fff;
               text-align: center;
               @include mixins.vertical-flex;
               line-height: 1.2;
               gap: 10px;

               > p {
                  font-size: max(20px, 2.5rem);
                  line-height: 1.4;
                  font-weight: 300;
                  margin-bottom: 10px;
                  
                  > b {font-weight: 700;}
               }

               > div {
                  
                  &.subTitle_wrap {
                     h2 {
                        font-size: max(30px, 4.5rem);
                        font-weight: 700;

                        span {
                           position: relative;

                           &::before {
                              content:'';
                              position: absolute;
                              top: -62%;
                              right: -60%;
                              background: url('/img/deco_light.png') no-repeat center / cover;
                              width: 1.7777em;
                              height: 1.8666em;
                           }
                        }
                     }
                  }

                  &.title_wrap {
                     overflow: hidden;
                     padding: 10px 20px;
                     background: linear-gradient(90deg, #A7202C, #E21C2C, #A7202C);

                     h1 {
                        font-size: max(55px, 7rem);
                        white-space: nowrap;
                        font-weight: 900;
                     }
                  }
               }
               
            }
         }

         .pakage_card {
            width: 100%;
            max-width: 390px;
         }
      }
   }

   .bar_keyword {
      position: absolute;
      bottom: 14%;
      @include mixins.vertical-flex();
      align-items: start;
      gap: 40px;

      @function get-margin($base: 35, $multiplier: 1) {
         @return ($base * $multiplier) * 1px
      }

      img {width: max(250px, 35rem);}
      
      &.left {
         left: 13px;
         
         > .bar_02 {margin-left: get-margin(35, 1);}
         > .bar_03 {margin-left: get-margin(35, 2);}
      }

      &.right {
         right: 13px;
         align-items: end;

         > .bar_05 {margin-right: get-margin(35, 1);}
         > .bar_06 {margin-right: get-margin(35, 2);}
      }
   }

   .talk_bubble {
      position: absolute;
      z-index: 2;
      top: 0;
      width: max(350px, 40rem);

      > img {
         position: relative;
         animation: bubbleMove 1s infinite alternate linear;
      }

      &.bubble01 {
         left: 0;
         animation-delay: 0.5s;
      }

      &.bubble02 {
         right: 0;
      }
   }
}



@keyframes bubbleMove {
   from {bottom: 0;}
   to {bottom: 15px;}
}

// 큰화면일때 반응형 ---------------------------------

@media (min-width: 1630px) and (min-height: 1100px) {
   
   .itemBox {

      .bar_keyword {
         img {width: auto;}

          &.left {
            left: -7%;
         }

         &.right {
            right: -7%;
         }
      }

      .talk_bubble {
         width: auto;
      }
   }
}

@media (min-height: 1100px) {
   .hero {
      height: 76dvh;
   }
}

@media (min-width: 1921px) {

   .itemBox {

      .bar_keyword {
         img {width: auto;}

          &.left {
            left: -7%;
         }

         &.right {
            right: -7%;
         }
      }

      .talk_bubble {
         width: auto;
      }
   }
}

// 큰화면일때 반응형 end ---------------------------------


// 모바일 반응형 -----------------------------------------
@media (max-width: 992px) {
   .hero {
      align-items: center;
      padding: 200px 13px 45px;
      height: auto;
   }

   .itemBox {
      @include mixins.vertical-flex();
      gap: 40px 0;
      position: static;

      .circle_wrap {
         position: relative;
         background-attachment: fixed;
         width: 100%;
         order: 1;
         // max-width: 60vw;
         // height: 60vw;
         min-width: 550px;
         min-height: 550px;
         border-radius: 50%;

         .content_box {

            .content {

               .txt_box {
                  h2 {font-size: 30px;}
                  h1 {font-size: 50px;}
               }
            }
         }

         .pakage_card {max-width: 430px;}
      }

      .keyword_box {
         order: 2;
         width: 100%;
         @include mixins.flex-box();
         gap: 20px;

         .bar_keyword {
            position: relative;
            width: 48%;
            gap: 15px;

            > img {margin: 0 !important; width: 100%; max-width: 360px;}

            &.left {
               left: unset;
            }

            &.right {
               right: unset;
            }
         }
      }

      .talk_bubble {
         position: absolute;
         width: 40rem;
         bottom: unset;
         top: max(13px, 4.5rem);

         &.bubble01 {
            order: 1;
            left: 13px;
         }

         &.bubble02 {
            order: 2;
            right: 13px;
         }
      }
   }
}

@media (max-width: 680px) {
   .hero {
      display: block; 
      // min-height: 100%;
      padding: 30rem 13px 45px;
   }

   .itemBox {

      .circle_wrap {
         position: relative;
         width: 100%;
         min-width: unset;
         min-height: unset;
         max-width: 90vw;
         height: 90vw;

         .content_box {
            .content {
               gap: 3rem;

               .txt_box {

                  p {font-size: max(14px, 3rem);}

                  > div {

                     &.subTitle_wrap {
                        h2 {font-size: max(20px, 6rem);}
                     }

                     &.title_wrap {
                        h1 {font-size: max(35px, 8rem);}
                     }
                  }
               }
            }

            .pakage_card {max-width: 70%;}
         }
      }

      .bar_keyword {
         position: relative;
         width: 100%;

         > img {margin: 0 !important; width: 100%;}

         &.left {
            align-items: center;
            // padding-right: 0;
         }

         &.right {
            align-items: center;
            // padding-left: 0;
         }
      }
   }
}

@media (max-width: 550px) {
   
}