.hero {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 45px 0;
  gap: 15px;
  overflow: hidden;
  background: linear-gradient(-360deg, #F93C4B, #A7202C);
}

.itemBox {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemBox .circle_wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 62rem;
  background: url("/img/hero/banner_circle.png") no-repeat bottom/cover;
  height: 62rem;
}
.itemBox .circle_wrap .content_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: max(35px, 4.5rem);
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.itemBox .circle_wrap .content_box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.itemBox .circle_wrap .content_box .content .txt_box {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  gap: 10px;
}
.itemBox .circle_wrap .content_box .content .txt_box > p {
  font-size: max(20px, 2.5rem);
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 10px;
}
.itemBox .circle_wrap .content_box .content .txt_box > p > b {
  font-weight: 700;
}
.itemBox .circle_wrap .content_box .content .txt_box > div.subTitle_wrap h2 {
  font-size: max(30px, 4.5rem);
  font-weight: 700;
}
.itemBox .circle_wrap .content_box .content .txt_box > div.subTitle_wrap h2 span {
  position: relative;
}
.itemBox .circle_wrap .content_box .content .txt_box > div.subTitle_wrap h2 span::before {
  content: "";
  position: absolute;
  top: -62%;
  right: -60%;
  background: url("/img/deco_light.png") no-repeat center/cover;
  width: 1.7777em;
  height: 1.8666em;
}
.itemBox .circle_wrap .content_box .content .txt_box > div.title_wrap {
  overflow: hidden;
  padding: 10px 20px;
  background: linear-gradient(90deg, #A7202C, #E21C2C, #A7202C);
}
.itemBox .circle_wrap .content_box .content .txt_box > div.title_wrap h1 {
  font-size: max(55px, 7rem);
  white-space: nowrap;
  font-weight: 900;
}
.itemBox .circle_wrap .content_box .pakage_card {
  width: 100%;
  max-width: 390px;
}
.itemBox .bar_keyword {
  position: absolute;
  bottom: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
.itemBox .bar_keyword img {
  width: max(250px, 35rem);
}
.itemBox .bar_keyword.left {
  left: 13px;
}
.itemBox .bar_keyword.left > .bar_02 {
  margin-left: 35px;
}
.itemBox .bar_keyword.left > .bar_03 {
  margin-left: 70px;
}
.itemBox .bar_keyword.right {
  right: 13px;
  align-items: end;
}
.itemBox .bar_keyword.right > .bar_05 {
  margin-right: 35px;
}
.itemBox .bar_keyword.right > .bar_06 {
  margin-right: 70px;
}
.itemBox .talk_bubble {
  position: absolute;
  z-index: 2;
  top: 0;
  width: max(350px, 40rem);
}
.itemBox .talk_bubble > img {
  position: relative;
  animation: bubbleMove 1s infinite alternate linear;
}
.itemBox .talk_bubble.bubble01 {
  left: 0;
  animation-delay: 0.5s;
}
.itemBox .talk_bubble.bubble02 {
  right: 0;
}

@keyframes bubbleMove {
  from {
    bottom: 0;
  }
  to {
    bottom: 15px;
  }
}
@media (min-width: 1630px) and (min-height: 1100px) {
  .itemBox .bar_keyword img {
    width: auto;
  }
  .itemBox .bar_keyword.left {
    left: -7%;
  }
  .itemBox .bar_keyword.right {
    right: -7%;
  }
  .itemBox .talk_bubble {
    width: auto;
  }
}
@media (min-height: 1100px) {
  .hero {
    height: 76dvh;
  }
}
@media (min-width: 1921px) {
  .itemBox .bar_keyword img {
    width: auto;
  }
  .itemBox .bar_keyword.left {
    left: -7%;
  }
  .itemBox .bar_keyword.right {
    right: -7%;
  }
  .itemBox .talk_bubble {
    width: auto;
  }
}
@media (max-width: 992px) {
  .hero {
    align-items: center;
    padding: 200px 13px 45px;
    height: auto;
  }
  .itemBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px 0;
    position: static;
  }
  .itemBox .circle_wrap {
    position: relative;
    background-attachment: fixed;
    width: 100%;
    order: 1;
    min-width: 550px;
    min-height: 550px;
    border-radius: 50%;
  }
  .itemBox .circle_wrap .content_box .content .txt_box h2 {
    font-size: 30px;
  }
  .itemBox .circle_wrap .content_box .content .txt_box h1 {
    font-size: 50px;
  }
  .itemBox .circle_wrap .pakage_card {
    max-width: 430px;
  }
  .itemBox .keyword_box {
    order: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .itemBox .keyword_box .bar_keyword {
    position: relative;
    width: 48%;
    gap: 15px;
  }
  .itemBox .keyword_box .bar_keyword > img {
    margin: 0 !important;
    width: 100%;
    max-width: 360px;
  }
  .itemBox .keyword_box .bar_keyword.left {
    left: unset;
  }
  .itemBox .keyword_box .bar_keyword.right {
    right: unset;
  }
  .itemBox .talk_bubble {
    position: absolute;
    width: 40rem;
    bottom: unset;
    top: max(13px, 4.5rem);
  }
  .itemBox .talk_bubble.bubble01 {
    order: 1;
    left: 13px;
  }
  .itemBox .talk_bubble.bubble02 {
    order: 2;
    right: 13px;
  }
}
@media (max-width: 680px) {
  .hero {
    display: block;
    padding: 30rem 13px 45px;
  }
  .itemBox .circle_wrap {
    position: relative;
    width: 100%;
    min-width: unset;
    min-height: unset;
    max-width: 90vw;
    height: 90vw;
  }
  .itemBox .circle_wrap .content_box .content {
    gap: 3rem;
  }
  .itemBox .circle_wrap .content_box .content .txt_box p {
    font-size: max(14px, 3rem);
  }
  .itemBox .circle_wrap .content_box .content .txt_box > div.subTitle_wrap h2 {
    font-size: max(20px, 6rem);
  }
  .itemBox .circle_wrap .content_box .content .txt_box > div.title_wrap h1 {
    font-size: max(35px, 8rem);
  }
  .itemBox .circle_wrap .content_box .pakage_card {
    max-width: 70%;
  }
  .itemBox .bar_keyword {
    position: relative;
    width: 100%;
  }
  .itemBox .bar_keyword > img {
    margin: 0 !important;
    width: 100%;
  }
  .itemBox .bar_keyword.left {
    align-items: center;
  }
  .itemBox .bar_keyword.right {
    align-items: center;
  }
}/*# sourceMappingURL=HeroSection.module.css.map */