
// @use '@/css/mixins' as mx;

@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header {
   position: sticky;
   top: 0;
   background: var(--main-color);
   width: 100%;
   height: 65px;

   .wrapper {
      @include flex-box;
      justify-content: space-between;
      height: 100%;
      gap: 10px;


      .logo {
         width: 170px;

         > img {width: 100%;}
      }

      .outer > ul {
         color: #fff;
         @include flex-box;
         gap: max(20px, 3rem);
         font-size: 2rem;
         font-weight: 600;

         > li {
            cursor: pointer;
         }
      }

      .tel_box {
         @include vertical-flex;
         align-items: end;
         font-size: 2rem;
         color: #fff;
         gap: 10px;

         > strong {
            font-weight: 600;
         }

         > a {
            font-weight: 700;
         }
      }

   }
}