
// @use '@/css/mixins' as mx;

@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header {
   position: sticky;
   top: 0;
   background: var(--main-color);
   width: 100%;
   height: var(--header-h, 65px);
   z-index: 1000;
}

.wrapper {
   @include flex-box;
   justify-content: space-between;
   height: 100%;
   gap: 10px;


   .logo {
      width: 170px;

      > img {width: 100%;}
   }

   .outer {
   
      > ul {
         color: #fff;
         @include flex-box;
         gap: max(20px, 3rem);
         font-size: var(--fontSize20);
         font-weight: 600;

         > li {
            cursor: pointer;
         }
      }
   }

   .btn_box {
      position: relative;
      cursor: pointer;

      .open_icon {width: 30px;}
      .close_icon {width: 20px;}
   }

   .tel_box {
      @include vertical-flex;
      align-items: end;
      font-size: 2rem;
      color: #fff;
      gap: 10px;

      > strong {
         font-weight: 600;
      }

      > a {
         font-weight: 700;
      }
   }

}


@media (min-width: 992px) {
   .wrapper .btn_box {
      display: none;
   }
}

@media (max-width: 992px) {
   .header {
      height: var(--header-h, 55px);
   }

   .wrapper {
      position: relative;

      .logo {
         width: 120px;
         z-index: 3;
      }

      &::before {
         content: '';
         position: absolute;
         top: 0;
         z-index: 2;
         left: 0;
         width: 100%;
         height: 100%;
         background: var(--main-color);
      }

      .outer {
         position: absolute;
         top: 100%;
         left: 0;
         width: 100%;
         padding: max(20px, 3rem) 0;
         background: rgba(0,0,0,0.8);
         -webkit-backdrop-filter: blur(3px);
         backdrop-filter: blur(3px);

         // tabmenuActive
         opacity: 0; visibility: hidden;
         transform: translateY(-5%);
         z-index: 1;
         

         > ul {
            @include vertical-flex;
            gap: 25px;
            width: 100%;
         }


         // tabmenuActive
         &.active {
            opacity: 1; visibility: visible; transform: translateY(0);
            z-index: -1; transition: opacity 0.3s, transform 0.3s;
         }
      }

      .tel_box {
         display: none;
      }

      .btn_box {
         @include flex-box;
         z-index: 3;
         width: 30px;
         height: 30px;

         > * {
            filter: invert(1);
            transition: all 0.2s;
         }


         // tabmenuActive
         .open_icon.unActive {
            opacity: 0;
            visibility: hidden;
         }

         .close_icon {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);

            // tabmenuActive
            opacity: 0;
            visibility: hidden;
            
            // tabmenuActive
            &.active {
               opacity: 1;
               visibility: visible;
            }
         }
      }
   }


   // tabmenuActive
   @keyframes menuActive {
      to {opacity: 1; visibility: visible; transform: translateY(0);}
   }
}