@mixin flex-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin vertical-flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.sec6 {
   width: 100%;
   padding: max(70px, 12rem) 0 max(80px, 13rem);
   background: url('/img/sec6/sec6_bg.png') no-repeat center / cover;
   @include vertical-flex();
   justify-content: start;
   gap: max(50px, 7rem);
}

.sec6 .title_box h2 {
   font-size: var(--fontSize60);
   font-weight: 800;
   color: #fff;
}

.formBox {
   @include vertical-flex();
   justify-content: start;
   gap: 30px;
   width: 100%;
   max-width: 880px;
   margin: 0 auto;
}

.formBox .step_box {
   width: 100%;
   @include vertical-flex();
   justify-content: start;
   align-items: start;
   gap: 10px;
   
   > .title {
      font-size: var(--fontSize20);
      // font-size: 20px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;

      > small {font-weight: 300; font-size: 0.7em;}
   }

   > .itemBox {
      width: inherit;
      @include vertical-flex();
      justify-content: inherit;
      gap: 15px;
   }
}

.itemBox .input_group {
   width: inherit;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;

   .input_item {
      width: inherit;
      @include flex-box();
      justify-content: start;
      background: #fff;
      gap: 10px;
      border-radius: 10px;
      padding: 19px 20px;

      > .tag {
         display: inline-block;
         // text-align: center;
         min-width: 100px;
         font-size: max(14px, 1.8rem);
         font-weight: 600;
         color: #000;
         white-space: nowrap;

         span {position: relative;}

         &.required span::after {
            content: '*';
            position: absolute;
            top: -0px;
            right: -12px;
            color: var(--main-color);

         }
      }

      > input {
         flex: 1;
         font-size: max(16px, 1.8rem);
         color: #000;
         font-weight: 500;
         border-left: 1px solid #e0e0e0;
         padding-left: 5px;
         
         &::placeholder {
            color: #797979;
            font-weight: 400;
         }
      }

      // 나머지 캘린더 스타일은 normalrize
      .custom_picker_input {
         width: 100%;
         font-size: max(16px, 1.8rem);
         color: #000;
         font-weight: 500;
         border-left: 1px solid #e0e0e0;
         padding-left: 5px;
         line-height: 1.2;

         &::placeholder {
            color: #797979;
            font-weight: 400;
         }
      }
   }
}

@media (max-width: 992px) {
   .itemBox .input_group .input_item > .tag {
      min-width: 80px;
   }
}

@media (max-width: 768px) {
   @mixin border_change {
      border-left: none; 
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 3px;
   }

   .itemBox .input_group {
      grid-template-columns: repeat(1, 1fr);

      .input_item {
         padding: 15px 10px 12px;
         min-width: 0;
         @include vertical-flex();
         align-items: start;

         input {
            width: 100%; 
            @include border_change;
         }
         .custom_picker_input {
            @include border_change;
         }
      }
   }
}


.input_group .input_item .check_group {
   flex: 1;
   @include flex-box();
   justify-content: start;
   gap: 15px;
   border-left: 1px solid #e0e0e0;
   padding-left: 5px;
   flex-wrap: wrap;

   > label {
      @include flex-box();
      justify-content: start;
      gap: 7px;
      cursor: pointer;

      > input {display: none;}

      > .check_icon {
         width: max(15px, 1.9rem);
         height: max(15px, 1.9rem);
         background: url('/img/sec6/radio_check.png') no-repeat center / contain;
      }

      span {
         color: #797979;
         font-size: max(14px, 1.8rem);
         font-weight: 500;
         transition: all 0.1s;
      }

      > input:checked ~ .check_icon {
         background: url('/img/sec6/radio_check_active.png') no-repeat center / contain;
      }

      > input:checked ~ span {
         color: var(--main-color);
      }
   }
}

@media (max-width: 768px) {
   .input_group .input_item .check_group {
      border-left: none;
   }
}

// 개인정보 처리방침
.itemBox.agree_box {
   .agree_content {
      width: 100%;
      background: #fff;
      border-radius: 10px;
      height: 190px;
      overflow: hidden;

      .txt_box {
         padding: 20px;
         overflow-y: auto;
         height: 100%;

         > p {
            font-size: 13px;
            color: #434343;
            line-height: 1.4;
         }

         .title {
            text-align: center;
            font-size: var(--fontSize25);
            margin-bottom: 20px;
            font-weight: 600;
            color: #000;
         }
      }
   }

   .check {
      @include flex-box();
      gap: 7px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
   }

}

.formBox > button {
   margin-top: 40px;
   border-radius: 100px;
   background: var(--main-color);
   width: 100%;
   max-width: 330px;
   padding: 12px 5px 13px;
   color: #fff;
   font-weight: 800;
   font-size: var(--fontSize25);
   cursor: pointer;
}


@media (max-width: 768px) {
   .formBox > button {margin-top: 15px;}
}
